@model IEnumerable<BikeHire.Models.Hire>

@{
    ViewBag.Title = "Customer listing";
}

<h4>@ViewBag.title</h4>

<th>
    <p>
        @Html.ActionLink("Create new customer entry", "Create")
    </p>
</th>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bike.BikeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bike.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bike.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalDays)
        </th>
        <th>
         @Html.DisplayNameFor(model => model.RentalCost)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bike.BikeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bike.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bike.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentalDays)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.RentalCost)
        </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.HireID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.HireID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.HireID })
                    </td>
                </tr>
            }

            </table>


