
@model IEnumerable<BikeHire.Models.Hire>

@{
    ViewBag.Title = "Customer listing";
}

<h4>@ViewBag.title</h4>

<th>
    <p>
        @Html.ActionLink("Create new customer entry", "Create")
    </p>
</th>

@*Add a Search Box to the Hire View*@
@using (Html.BeginForm())
{
    <p>
        Find by First or Last name: @Html.TextBox("SearchString")
        <input type="submit" value="Search"/>
    </p>
}

<table class="table">
    <tr>
        @*New for sorting*@
        <th>
            @Html.ActionLink("FirstName", "Index", new { sortOrder = ViewBag.NameSortParmFirstName })
        </th>
        <th>
            @Html.ActionLink("Surname", "Index", new { sortOrder = ViewBag.NameSortParmLastName })
        </th>
@*
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
*@
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.ActionLink("Hire start date", "Index", new { sortOrder = ViewBag.DateSortParmStartDate })
        </th>

@*
    <th>
        @Html.DisplayNameFor(model => model.StartDate)
    </th>
*@
        <th>
            @Html.DisplayNameFor(model => model.FinishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bike.BikeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bike.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bike.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalDays)
        </th>
@*
        <th>
            @Html.DisplayName("Rental Cost")
        </th>
    <th>
        @Html.DisplayNameFor(model => model.RentalCost)
    </th>
*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bike.BikeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bike.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bike.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentalDays)
        </td>
@*
        <td>
            @Html.DisplayFor(modelItem => item.RentalCost)
        </td>
*@
@*Rental Cost calculated within the View*@        
@*
    <td>
        @Html.DisplayFor(modelItem => item.RentalDays) * @Html.DisplayFor(modelItem => item.Bike.RentalChargePerDay)
    </td> 
*@   
 
        @*@Html.Display(item.RentalDays * item.Bike.RentalChargePerDay)*@



                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.HireID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.HireID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.HireID })
                    </td>
                </tr>
            }

            </table>


